# JWT SECRETS
# openssl rand -hex 32
JWT_AUTH_SECRET=big word...
JWT_RESET_SECRET=big word...

# SMTP
SMTP_HOST=smtp...
SMTP_PORT=465
SMTP_USER=noreply@...
SMTP_PASSWORD=qwerty123

# ADMIN PANEL
SQLITE_WEB_PASSWORD=qwerty123
