{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="card card-bg auth-card">
        <div class="card-body">
            {% if email_sended %}
                <p>Письмо запрошено</p>
            {% else %}
                <h3 class="card-title text-primary-custom text-center">Сброс пароля</h3>
                <form action="{{ url_for('gen_reset_password') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">{{ form.username.label }}</label>
                    <input name="username" value="{{ form.username.data }}" type="text" id="username" class="form-control" placeholder="{{ form.username.description }}">
                    {% with errors=form.errors.username %}
                        {% include 'partials/form_errors.html' %}
                    {% endwith %}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-light">{{ form.email.label }}</label>
                    <input name="email" value="{{ form.email.data }}" type="email" id="email" class="form-control" placeholder="{{ form.email.description }}">
                    {% with errors=form.errors.email %}
                        {% include 'partials/form_errors.html' %}
                    {% endwith %}
                </div>
                <button type="submit" class="btn btn-primary-custom w-100">Запросить письмо</button>
                {% with errors=errors %}
                    {% include 'partials/form_errors.html' %}
                {% endwith %}
                </form>
                <p class="mt-3 text-center text-light">Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
